--- 
ReportDefinitions: 
  - 
    moduleName: rainmaker-pension
    query: "select application_number,name as applicantName, date_of_retirement , workflow_state from eg_pension_workflow_header pwr join public.eg_pension_employee pe on pwr.pension_employee_id=pe.uuid where 1=1 AND pwr.workflow_type='RRP_SERVICE'"
    reportName: RegularNormalPension
    searchParams: 
      - 
        isMandatory: true
        label: reports.rainmaker-pgr.datefrom
        name: fromDate
        searchClause: "AND pwr.application_date >= $fromDate"
        source: eg_pension_workflow_header
        type: epoch
      - 
        isMandatory: true
        label: reports.rainmaker-pgr.dateto
        name: toDate
        searchClause: "AND pwr.application_date <= $toDate"
        source: eg_pension_workflow_header
        type: epoch
    sourceColumns: 
      - 
        label: PENSION_APPLICATION_NUMBER
        name: application_number
        source: eg_pension_workflow_header
        type: string
      - 
        label: "Applicant Name"
        name: applicantName
        source: eg_pension_workflow_header
        type: string
      - 
        label: PENSION_DOR
        name: date_of_retirement
        source: eg_pension_workflow_header
        type: epoch
      - 
        label: State
        name: workflow_state
        source: eg_pension_workflow_header
        type: string
  - 
    moduleName: rainmaker-pension
    query: "select pp.pensioner_number as pensioner_number , pe.name as name,  fma, miscellaneous, over_payment, income_tax, cess, basic_pension, additional_pension, commuted_pension, net_deductions, final_calculated_pension, interim_relief, da, total_pension, pension_deductions, wound_extraordinary_pension, attendant_allowance from eg_pension_revision pr join eg_pension_pensioner pp on pr.pensioner_id=pp.uuid join eg_pension_employee pe on pp.pension_employee_id=pe.uuid where 1=1 AND pp.active=true AND pr.active=true"
    reportName: MonthlyPensionDrawn
    searchParams: 
      - 
        isMandatory: true
        label: Year
        name: Year
        pattern: "list://2020:2020,2021:2021,2022:2022,2023:2023,2024:2024,2025:2025"
        searchClause: "AND pr.effective_start_year>= $Year AND pr.effective_start_month>=$Month and pr.effective_end_year<=$Year and pr.effective_end_month<=$Month"
        source: eg_pension_revision
        type: singlevaluelist
        wrapper: true
      - 
        isMandatory: true
        label: Month
        name: Month
        pattern: "list://1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10,11:11,12:12"
        searchClause: "OR pr.effective_start_year>=$Year and pr.effective_start_month>=$Month"
        source: eg_pension_revision
        type: singlevaluelist
        wrapper: true
    sourceColumns: 
      - 
        label: "Pensioner Number"
        name: pensioner_number
        source: eg_pension_pensioner
        total: false
        type: string
      - 
        label: "Pensioner Name"
        name: name
        source: eg_pension_employee
        total: false
        type: string
      - 
        label: "Basic Pension"
        name: basic_pension
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: DA
        name: da
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Commuted Pension"
        name: commuted_pension
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Additional Pension"
        name: additional_pension
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: IR
        name: interim_relief
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Medical Relief"
        name: fma
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: Miscellaneous
        name: miscellaneous
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Wound Pension"
        name: wound_extraordinary_pension
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Attendant Allowance"
        name: attendant_allowance
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: Overpayment
        name: over_payment
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Income Tax"
        name: income_tax
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: Cess
        name: cess
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Pension Deductions"
        name: pension_deductions
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Total Pension"
        name: total_pension
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Net Deductions"
        name: net_deductions
        source: eg_pension_revision
        total: true
        type: string
      - 
        label: "Net Pension"
        name: final_calculated_pension
        source: eg_pension_revision
        total: true
        type: string
  - 
    moduleName: rainmaker-pension
    query: "select application_number,name as applicantName, date_of_retirement, workflow_state from eg_pension_workflow_header pwr join public.eg_pension_employee pe on pwr.pension_employee_id=pe.uuid where 1=1 AND pwr.workflow_type='DOE_SERVICE'"
    reportName: DeathOfAnEmployee
    searchParams: 
      - 
        isMandatory: true
        label: reports.rainmaker-pgr.datefrom
        name: fromDate
        searchClause: "AND pwr.application_date >= $fromDate"
        source: eg_pension_workflow_header
        type: epoch
      - 
        isMandatory: true
        label: reports.rainmaker-pgr.dateto
        name: toDate
        searchClause: "AND pwr.application_date <= $toDate"
        source: eg_pension_workflow_header
        type: epoch
    sourceColumns: 
      - 
        label: PENSION_APPLICATION_NUMBER
        name: application_number
        source: eg_pension_workflow_header
        type: string
      - 
        label: "Applicant Name"
        name: applicantName
        source: eg_pension_workflow_header
        type: string
      - 
        label: PENSION_DOR
        name: date_of_retirement
        source: eg_pension_workflow_header
        type: epoch
      - 
        label: State
        name: workflow_state
        source: eg_pension_workflow_header
        type: string
  - 
    moduleName: rainmaker-pension
    query: "select application_number,name as applicantName, date_of_retirement, workflow_state from eg_pension_workflow_header pwr join public.eg_pension_employee pe on pwr.pension_employee_id=pe.uuid where 1=1 AND pwr.workflow_type='DOP_SERVICE"
    reportName: DeathOfPensioner
    searchParams: 
      - 
        isMandatory: true
        label: reports.rainmaker-pgr.datefrom
        name: fromDate
        searchClause: "AND pwr.application_date >= $fromDate"
        source: eg_pension_workflow_header
        type: epoch
      - 
        isMandatory: true
        label: reports.rainmaker-pgr.dateto
        name: toDate
        searchClause: "AND pwr.application_date <= $toDate"
        source: eg_pension_workflow_header
        type: epoch
    sourceColumns: 
      - 
        label: PENSION_APPLICATION_NUMBER
        name: application_number
        source: eg_pension_workflow_header
        type: string
      - 
        label: "Applicant Name"
        name: applicantName
        source: eg_pension_workflow_header
        type: string
      - 
        label: PENSION_DOR
        name: date_of_retirement
        source: eg_pension_workflow_header
        type: epoch
      - 
        label: State
        name: workflow_state
        source: eg_pension_workflow_header
        type: string
  - 
    moduleName: rainmaker-pension
    query: "select pe.id, pe.code as code , u.name as name , u.gender as gender , pe.employeetype as employee_type  , u.dob ,pe.dateofsuperannuation as dateofsuperannuation   from eg_hrms_employee pe  join eg_user u  on pe.uuid=u.uuid  WHERE 1=1"
    reportName: EmployeeToBeRetired
    searchParams: 
      - 
        isMandatory: true
        label: reports.rainmaker-pgr.datefrom
        name: fromDate
        searchClause: "AND pe.dateofsuperannuation >= $fromDate"
        source: eg_hrms_employee
        type: epoch
      - 
        isMandatory: true
        label: reports.rainmaker-pgr.dateto
        name: toDate
        searchClause: "AND pe.dateofsuperannuation <= $toDate"
        source: eg_hrms_employee
        type: epoch
    sourceColumns: 
      - 
        label: PENSION_EMPLOYEE_CODE
        name: code
        source: eg_hrms_employee
        type: string
      - 
        label: PENSION_EMPLOYEE_NAME
        name: name
        source: eg_user
        type: string
      - 
        label: PENSION_EMPLOYEE_TYPE
        name: employee_type
        source: eg_user
        total: false
        type: string
      - 
        label: PENSION_DOB
        name: dob
        source: eg_user
        total: false
        type: epoch
      - 
        label: PENSION_DOR
        name: dateofsuperannuation
        source: eg_hrms_employee
        total: false
        type: epoch
